@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}

#hero {
  background-image: url(/assets/Groupe\ 1759.png);
  background-position: bottom center;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .why-us {
    background: url(/assets/style.png);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: left bottom;
    
  }
  .why-us-2 {
    background: url(/assets/style\ 2.png);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: right bottom;
    
  }

  .trsmBtn {
    transform: translateX(10px);
  }